body{
  color: aqua;
  /*设置字体的颜色 ，这是一个继承的效果*/
  font-size: 18px; 
  /*设置字体的大小，这也是一个继承的效果*/

}

p{
  color: red;
  /*text-align: right;*/
  /*这个是设置文本的对其的方式*/
  text-indent: 2em;
  /*这个是首行缩进的意思，规定的那一行进行缩进的显示*/
}